.main{
    background-color: rgb(248, 237, 75);
    padding-top: 20px;
    padding-left: 40px;
    
    width: 100vw;
}
#search-area{
    text-align: center;
    /* width:500px ;
    height: 30px;*/
} 
 
 input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: none;
    font-size: 17px;
    border: none;
  }
  
    button {
    /* float: left; */
    padding: 6px;
    margin-top: 8px;
    margin-left: none;
    margin-right: 16px;
    background: rgb(225, 141, 141);
    font-size: 17px;
    border: none;
    /* cursor: pointer; */
  }
  
 button:hover {
    background: #ccc;
  }
  
  /* @media screen and (max-width: 600px) {
    
     input[type=text],  button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    input[type=text] {
      border: 1px solid #ccc;  
    }
  } */

  .meal{
    border: 2px solid goldenrod;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}

.meal-name{
    font-size: 45px;
    color: rgb(149, 0, 255);
}

#allMeal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-align: center;
}